<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quickhome.mapper.AttractionCollectionMapper">

    <resultMap id="BaseResultMap" type="com.quickhome.domain.AttractionCollection">
            <id property="aFavoriteRecordsId_zch_hwz_gjc" column="aFavoriteRecordsId_zch_hwz_gjc" jdbcType="BIGINT"/>
            <result property="userId_zch_hwz_gjc" column="userId_zch_hwz_gjc" jdbcType="BIGINT"/>
            <result property="attractionsId_zch_hwz_gjc" column="attractionsId_zch_hwz_gjc" jdbcType="BIGINT"/>
            <result property="collectionTime_zch_hwz_gjc" column="collectionTime_zch_hwz_gjc" jdbcType="TIMESTAMP"/>
            <result property="standby1_zch_hwz_gjc" column="standby1_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby2_zch_hwz_gjc" column="standby2_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby3_zch_hwz_gjc" column="standby3_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="visible_zch_hwz_gjc" column="visible_zch_hwz_gjc" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        aFavoriteRecordsId_zch_hwz_gjc,userId_zch_hwz_gjc,attractionsId_zch_hwz_gjc,
        collectionTime_zch_hwz_gjc,standby1_zch_hwz_gjc,standby2_zch_hwz_gjc,
        standby3_zch_hwz_gjc,visible_zch_hwz_gjc
    </sql>
</mapper>
