<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quickhome.mapper.CarInfoMapper">

    <resultMap id="BaseResultMap" type="com.quickhome.domain.CarInfo">
            <id property="carID_zch_hwz_gjc" column="carID_zch_hwz_gjc" jdbcType="BIGINT"/>
            <result property="brand_zch_hwz_gjc" column="brand_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="model_zch_hwz_gjc" column="model_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="licensePlateNumber_zch_hwz_gjc" column="licensePlateNumber_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="carColor_zch_hwz_gjc" column="carColor_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="entryTime_zch_hwz_gjc" column="entryTime_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby1_zch_hwz_gjc" column="standby1_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby2_zch_hwz_gjc" column="standby2_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby3_zch_hwz_gjc" column="standby3_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="visible_zch_hwz_gjc" column="visible_zch_hwz_gjc" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        carID_zch_hwz_gjc,brand_zch_hwz_gjc,model_zch_hwz_gjc,
        licensePlateNumber_zch_hwz_gjc,carColor_zch_hwz_gjc,entryTime_zch_hwz_gjc,
        standby1_zch_hwz_gjc,standby2_zch_hwz_gjc,standby3_zch_hwz_gjc,
        visible_zch_hwz_gjc
    </sql>
</mapper>
