<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quickhome.mapper.DriverInfoMapper">

    <resultMap id="BaseResultMap" type="com.quickhome.domain.DriverInfo">
            <id property="driverID_zch_hwz_gjc" column="driverID_zch_hwz_gjc" jdbcType="BIGINT"/>
            <result property="driverName_zch_hwz_gjc" column="driverName_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="contactPhoneNumber_zch_hwz_gjc" column="contactPhoneNumber_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="idNumber_zch_hwz_gjc" column="idNumber_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="licenseNumber_zch_hwz_gjc" column="licenseNumber_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby1_zch_hwz_gjc" column="standby1_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby2_zch_hwz_gjc" column="standby2_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby3_zch_hwz_gjc" column="standby3_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="deleted_zch_hwz_gjc" column="deleted_zch_hwz_gjc" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        driverID_zch_hwz_gjc,driverName_zch_hwz_gjc,contactPhoneNumber_zch_hwz_gjc,
        idNumber_zch_hwz_gjc,licenseNumber_zch_hwz_gjc,standby1_zch_hwz_gjc,
        standby2_zch_hwz_gjc,standby3_zch_hwz_gjc,deleted_zch_hwz_gjc
    </sql>
</mapper>
