<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quickhome.mapper.HomeMapper">

    <resultMap id="BaseResultMap" type="com.quickhome.domain.Home">
            <id property="homeId_zch_hwz_gjc" column="homeId_zch_hwz_gjc" jdbcType="BIGINT"/>
            <result property="homeName_zch_hwz_gjc" column="homeName_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="homeType_zch_hwz_gjc" column="homeType_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="homeDayRent_zch_hwz_gjc" column="homeDayRent_zch_hwz_gjc" jdbcType="DOUBLE"/>
            <result property="homeState_zch_hwz_gjc" column="homeState_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="homeAddress_zch_hwz_gjc" column="homeAddress_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby1_zch_hwz_gjc" column="standby1_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby2_zch_hwz_gjc" column="standby2_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby3_zch_hwz_gjc" column="standby3_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="deleted_zch_hwz_gjc" column="deleted_zch_hwz_gjc" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        homeId_zch_hwz_gjc,homeName_zch_hwz_gjc,homeType_zch_hwz_gjc,
        homeDayRent_zch_hwz_gjc,homeState_zch_hwz_gjc,homeAddress_zch_hwz_gjc,
        standby1_zch_hwz_gjc,standby2_zch_hwz_gjc,standby3_zch_hwz_gjc,
        deleted_zch_hwz_gjc
    </sql>
    <select id="selectHomeByPage" resultType="com.quickhome.domain.Home">
        SELECT *
        FROM tab_home_zch_hwz_gjc
            LIMIT #{page}, #{size}
    </select>

    <select id="getHomeListOrderByCollectionCount" resultType="com.quickhome.pojo.PojoHome">
        SELECT
            a.homeId_zch_hwz_gjc,
            COUNT(c.hFavoriteRecordsId_zch_hwz_gjc) AS collectionCount
        FROM
            tab_home_zch_hwz_gjc a
                LEFT JOIN tab_housecollection_zch_hwz_gjc c ON a.homeId_zch_hwz_gjc = c.homeId_zch_hwz_gjc
        GROUP BY
            a.homeId_zch_hwz_gjc
        ORDER BY
            collectionCount DESC
        limit 10
    </select>
    <select id="selectHomeCate" parameterType="com.quickhome.pojo.PJHselect" resultType="com.quickhome.domain.Home">
        SELECT a.*
        FROM tab_home_zch_hwz_gjc AS a
                 JOIN tab_homeinformation_zch_hwz_gjc AS b ON a.homeId_zch_hwz_gjc = b.homeId_zch_hwz_gjc
                 LEFT JOIN tab_order_zch_hwz_gjc AS c ON a.homeId_zch_hwz_gjc = c.homeId_zch_hwz_gjc
        WHERE b.homeArea_zch_hwz_gjc >=  #{area}
          AND b.maxPerson_zch_hwz_gjc >=  #{maxPeople}
          AND (#{endDate} <![CDATA[ < ]]> c.checkInTime_zch_hwz_gjc OR #{beginDate}  >  c.checkOutTime_zch_hwz_gjc OR
               c.checkInTime_zch_hwz_gjc IS NULL)
        LIMIT #{page}, #{size}
    </select>
    <select id="selectHomeTypeCate" parameterType="com.quickhome.pojo.PJHselect" resultType="com.quickhome.domain.Home">
        SELECT a.*
        FROM tab_home_zch_hwz_gjc AS a
                 JOIN tab_homeinformation_zch_hwz_gjc AS b ON a.homeId_zch_hwz_gjc = b.homeId_zch_hwz_gjc
                 LEFT JOIN tab_order_zch_hwz_gjc AS c ON a.homeId_zch_hwz_gjc = c.homeId_zch_hwz_gjc
        WHERE b.homeArea_zch_hwz_gjc <![CDATA[ >= ]]> #{area}
          AND b.maxPerson_zch_hwz_gjc <![CDATA[ >= ]]> #{maxPeople}
          AND a.homeType_zch_hwz_gjc LIKE CONCAT('%', #{homeType}, '%')
          AND (#{endDate} <![CDATA[ < ]]> c.checkInTime_zch_hwz_gjc OR #{beginDate} <![CDATA[ > ]]> c.checkOutTime_zch_hwz_gjc OR
               c.checkInTime_zch_hwz_gjc IS NULL)
        LIMIT #{page}, #{size}
    </select>
</mapper>
