<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quickhome.mapper.HomeMapper">

    <resultMap id="BaseResultMap" type="com.quickhome.domain.Home">
            <id property="homeId_zch_hwz_gjc" column="homeId_zch_hwz_gjc" jdbcType="BIGINT"/>
            <result property="homeName_zch_hwz_gjc" column="homeName_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="homeType_zch_hwz_gjc" column="homeType_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="homeDayRent_zch_hwz_gjc" column="homeDayRent_zch_hwz_gjc" jdbcType="DOUBLE"/>
            <result property="homeState_zch_hwz_gjc" column="homeState_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="homeAddress_zch_hwz_gjc" column="homeAddress_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby1_zch_hwz_gjc" column="standby1_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby2_zch_hwz_gjc" column="standby2_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby3_zch_hwz_gjc" column="standby3_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="deleted_zch_hwz_gjc" column="deleted_zch_hwz_gjc" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        homeId_zch_hwz_gjc,homeName_zch_hwz_gjc,homeType_zch_hwz_gjc,
        homeDayRent_zch_hwz_gjc,homeState_zch_hwz_gjc,homeAddress_zch_hwz_gjc,
        standby1_zch_hwz_gjc,standby2_zch_hwz_gjc,standby3_zch_hwz_gjc,
        deleted_zch_hwz_gjc
    </sql>
</mapper>
