<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quickhome.mapper.HomeInformationMapper">

    <resultMap id="BaseResultMap" type="com.quickhome.domain.HomeInformation">
        <id property="homeInfId_zch_hwz_gjc" column="homeInfId_zch_hwz_gjc" jdbcType="BIGINT"/>
        <result property="homeId_zch_hwz_gjc" column="homeId_zch_hwz_gjc" jdbcType="BIGINT"/>
        <result property="homeArea_zch_hwz_gjc" column="homeArea_zch_hwz_gjc" jdbcType="DOUBLE"/>
        <result property="houseStructure_zch_hwz_gjc" column="houseStructure_zch_hwz_gjc" jdbcType="VARCHAR"/>
        <result property="maxPerson_zch_hwz_gjc" column="maxPerson_zch_hwz_gjc" jdbcType="INTEGER"/>
        <result property="homeDeposit_zch_hwz_gjc" column="homeDeposit_zch_hwz_gjc" jdbcType="DOUBLE"/>
        <result property="homeInDate_zch_hwz_gjc" column="homeInDate_zch_hwz_gjc" jdbcType="TIMESTAMP"/>
        <result property="standby1_zch_hwz_gjc" column="standby1_zch_hwz_gjc" jdbcType="VARCHAR"/>
        <result property="standby2_zch_hwz_gjc" column="standby2_zch_hwz_gjc" jdbcType="VARCHAR"/>
        <result property="version_zch_hwz_gjc" column="version_zch_hwz_gjc" jdbcType="BIGINT"/>
        <result property="deleted_zch_hwz_gjc" column="deleted_zch_hwz_gjc" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        homeInfId_zch_hwz_gjc,homeId_zch_hwz_gjc,homeArea_zch_hwz_gjc,
        houseStructure_zch_hwz_gjc,maxPerson_zch_hwz_gjc,homeDeposit_zch_hwz_gjc,
        homeInDate_zch_hwz_gjc,standby1_zch_hwz_gjc,standby2_zch_hwz_gjc,
        standby3_zch_hwz_gjc,deleted_zch_hwz_gjc
    </sql>

    <select id="getByHomeId" parameterType="Long" resultMap="BaseResultMap">
        select *
        from tab_homeinformation_zch_hwz_gjc
        where homeId_zch_hwz_gjc = #{homeId_zch_hwz_gjc}
    </select>
    <select id="getHomeDepositByHomeId" parameterType="Long" resultType="java.lang.Double">
        select homeDeposit_zch_hwz_gjc
        from tab_homeinformation_zch_hwz_gjc
        where homeId_zch_hwz_gjc = #{homeId_zch_hwz_gjc};
    </select>
</mapper>
