<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quickhome.mapper.HomeImageMapper">

    <resultMap id="BaseResultMap" type="com.quickhome.domain.HomeImage">
            <id property="imageId_zch_hwz_gjc" column="imageId_zch_hwz_gjc" jdbcType="BIGINT"/>
            <result property="homeId_zch_hwz_gjc" column="homeId_zch_hwz_gjc" jdbcType="BIGINT"/>
            <result property="imagePath_zch_hwz_gjc" column="imagePath_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="inDateTime_zch_hwz_gjc" column="inDateTime_zch_hwz_gjc" jdbcType="TIMESTAMP"/>
            <result property="standby1_zch_hwz_gjc" column="standby1_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby2_zch_hwz_gjc" column="standby2_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby3_zch_hwz_gjc" column="standby3_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="deleted_zch_hwz_gjc" column="deleted_zch_hwz_gjc" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        imageId_zch_hwz_gjc,homeId_zch_hwz_gjc,imagePath_zch_hwz_gjc,
        inDateTime_zch_hwz_gjc,standby1_zch_hwz_gjc,standby2_zch_hwz_gjc,
        standby3_zch_hwz_gjc,deleted_zch_hwz_gjc
    </sql>
    <select id="getAllById" parameterType="Long" resultMap="BaseResultMap">
        select * from tab_homeimage_zch_hwz_gjc where homeId_zch_hwz_gjc = #{homeId_zch_hwz_gjc}
    </select>
</mapper>
