<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quickhome.mapper.ManagerHomeBindingMapper">

    <resultMap id="BaseResultMap" type="com.quickhome.domain.ManagerHomeBinding">
            <id property="bindingID_zch_hwz_gjc" column="bindingID_zch_hwz_gjc" jdbcType="BIGINT"/>
            <result property="managerID_zch_hwz_gjc" column="managerID_zch_hwz_gjc" jdbcType="BIGINT"/>
            <result property="homeID_zch_hwz_gjc" column="homeID_zch_hwz_gjc" jdbcType="BIGINT"/>
            <result property="bindingType_zch_hwz_gjc" column="bindingType_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="bindingTime_zch_hwz_gjc" column="bindingTime_zch_hwz_gjc" jdbcType="TIMESTAMP"/>
            <result property="bindingState_zch_hwz_gjc" column="bindingState_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby1_zch_hwz_gjc" column="standby1_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby2_zch_hwz_gjc" column="standby2_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="version_zch_hwz_gjc" column="version_zch_hwz_gjc" jdbcType="BIGINT"/>
            <result property="deleted_zch_hwz_gjc" column="deleted_zch_hwz_gjc" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        bindingID_zch_hwz_gjc,managerID_zch_hwz_gjc,homeID_zch_hwz_gjc,
        bindingType_zch_hwz_gjc,bindingTime_zch_hwz_gjc,bindingState_zch_hwz_gjc,
        standby1_zch_hwz_gjc,standby2_zch_hwz_gjc,standby3_zch_hwz_gjc,
        deleted_zch_hwz_gjc
    </sql>
</mapper>
