<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quickhome.mapper.ManagerMapper">

    <resultMap id="BaseResultMap" type="com.quickhome.domain.Manager">
            <id property="managerId_zch_hwz_gjc" column="managerId_zch_hwz_gjc" jdbcType="BIGINT"/>
            <result property="managerCategory_zch_hwz_gjc" column="managerCategory_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="managerAccount_zch_hwz_gjc" column="managerAccount_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="managerPwd_zch_hwz_gjc" column="managerPwd_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="managerName_zch_hwz_gjc" column="managerName_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="managerPhone_zch_hwz_gjc" column="managerPhone_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="managerGender_zch_hwz_gjc" column="managerGender_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="managerInDate_zch_hwz_gjc" column="managerInDate_zch_hwz_gjc" jdbcType="TIMESTAMP"/>
            <result property="standby1_zch_hwz_gjc" column="standby1_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby2_zch_hwz_gjc" column="standby2_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby3_zch_hwz_gjc" column="standby3_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="deleted_zch_hwz_gjc" column="deleted_zch_hwz_gjc" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        managerId_zch_hwz_gjc,managerCategory_zch_hwz_gjc,managerAccount_zch_hwz_gjc,
        managerPwd_zch_hwz_gjc,managerName_zch_hwz_gjc,managerPhone_zch_hwz_gjc,
        managerGender_zch_hwz_gjc,managerInDate_zch_hwz_gjc,standby1_zch_hwz_gjc,
        standby2_zch_hwz_gjc,standby3_zch_hwz_gjc,deleted_zch_hwz_gjc
    </sql>
</mapper>
