<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quickhome.mapper.SuperManagerMapper">

    <resultMap id="BaseResultMap" type="com.quickhome.domain.SuperManager">
            <id property="superManagerId_zch_hwz_gjc" column="superManagerId_zch_hwz_gjc" jdbcType="BIGINT"/>
            <result property="superManagerAccount_zch_hwz_gjc" column="superManagerAccount_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="superManagerPwd_zch_hwz_gjc" column="superManagerPwd_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="createTime_zch_hwz_gjc" column="createTime_zch_hwz_gjc" jdbcType="TIMESTAMP"/>
            <result property="standby1_zch_hwz_gjc" column="standby1_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby2_zch_hwz_gjc" column="standby2_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby3_zch_hwz_gjc" column="standby3_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="deleted_zch_hwz_gjc" column="deleted_zch_hwz_gjc" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        superManagerId_zch_hwz_gjc,superManagerAccount_zch_hwz_gjc,superManagerPwd_zch_hwz_gjc,
        createTime_zch_hwz_gjc,standby1_zch_hwz_gjc,standby2_zch_hwz_gjc,
        standby3_zch_hwz_gjc,deleted_zch_hwz_gjc
    </sql>
</mapper>
