<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quickhome.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.quickhome.domain.User">
            <id property="userId_zch_hwz_gjc" column="userId_zch_hwz_gjc" jdbcType="BIGINT"/>
            <result property="userAccount_zch_hwz_gjc" column="userAccount_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="userName_zch_hwz_gjc" column="userName_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="userPwd_zch_hwz_gjc" column="userPwd_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="userEmail_zch_hwz_gjc" column="userEmail_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="userPhone_zch_hwz_gjc" column="userPhone_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="userInDate_zch_hwz_gjc" column="userInDate_zch_hwz_gjc" jdbcType="TIMESTAMP"/>
            <result property="standby1_zch_hwz_gjc" column="standby1_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby2_zch_hwz_gjc" column="standby2_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="version_zch_hwz_gjc" column="version_zch_hwz_gjc" jdbcType="BIGINT"/>
            <result property="deleted_zch_hwz_gjc" column="deleted_zch_hwz_gjc" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId_zch_hwz_gjc,userAccount_zch_hwz_gjc,userName_zch_hwz_gjc,
        userPwd_zch_hwz_gjc,userEmail_zch_hwz_gjc,userPhone_zch_hwz_gjc,
        userInDate_zch_hwz_gjc,standby1_zch_hwz_gjc,standby2_zch_hwz_gjc,
        version_zch_hwz_gjc,deleted_zch_hwz_gjc
    </sql>
    <select id="getUserAccountByAccount_zch_hwz_gjc" parameterType="com.quickhome.domain.User" resultMap="BaseResultMap">
        select userAccount_zch_hwz_gjc
        from tab_user_zch_hwz_gjc
        where userAccount_zch_hwz_gjc = #{userAccount}
          AND deleted_zch_hwz_gjc = 0
    </select>
    <select id="userLogin_zch_hwz_gjc" parameterType="com.quickhome.domain.User" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tab_user_zch_hwz_gjc
        where
        userPwd_zch_hwz_gjc=#{userPwd_zch_hwz_gjc} and
            userEmail_zch_hwz_gjc=#{userEmail_zch_hwz_gjc}
        or userAccount_zch_hwz_gjc=#{userAccount_zch_hwz_gjc}
        or userPhone_zch_hwz_gjc=#{userPhone_zch_hwz_gjc}
        AND deleted_zch_hwz_gjc = 0

    </select>
    <select id="getUserIdByAccount" parameterType="java.lang.String" resultType="java.lang.Long">
        select userId_zch_hwz_gjc
        from tab_user_zch_hwz_gjc
        where userAccount_zch_hwz_gjc = #{userAccount}
          AND deleted_zch_hwz_gjc = 0
    </select>
    <select id="queryUser" parameterType="com.quickhome.domain.User" resultMap="BaseResultMap">
        select *
        from tab_user_zch_hwz_gjc
        where userEmail_zch_hwz_gjc = '${userEmail_zch_hwz_gjc}'
           or userAccount_zch_hwz_gjc=#{userAccount_zch_hwz_gjc}
           or userPhone_zch_hwz_gjc = '${userPhone_zch_hwz_gjc}'
            AND deleted_zch_hwz_gjc = 0
    </select>
    <select id="queryUserForLogin" parameterType="com.quickhome.domain.User" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tab_user_zch_hwz_gjc
        where userEmail_zch_hwz_gjc=#{userEmail_zch_hwz_gjc}
        or userAccount_zch_hwz_gjc=#{userAccount_zch_hwz_gjc}
        or userPhone_zch_hwz_gjc=#{userPhone_zch_hwz_gjc}
        AND deleted_zch_hwz_gjc = 0
    </select>

    <select id="findByPhone" resultType="com.quickhome.domain.User">
        SELECT * FROM tab_user_zch_hwz_gjc WHERE userPhone_zch_hwz_gjc = #{phone}
                                             AND deleted_zch_hwz_gjc = 0
    </select>
</mapper>
