<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quickhome.mapper.UserNotificationMapper">

    <resultMap id="BaseResultMap" type="com.quickhome.domain.UserNotification">
            <id property="userNotificationId_zch_hwz_gjc" column="userNotificationId_zch_hwz_gjc" jdbcType="BIGINT"/>
            <result property="notificationReleaseTime_zch_hwz_gjc" column="notificationReleaseTime_zch_hwz_gjc" jdbcType="TIMESTAMP"/>
            <result property="notifyPostManager_zch_hwz_gjc" column="notifyPostManager_zch_hwz_gjc" jdbcType="BIGINT"/>
            <result property="notificationContent_zch_hwz_gjc" column="notificationContent_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby1_zch_hwz_gjc" column="standby1_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="standby2_zch_hwz_gjc" column="standby2_zch_hwz_gjc" jdbcType="VARCHAR"/>
            <result property="version_zch_hwz_gjc" column="version_zch_hwz_gjc" jdbcType="BIGINT"/>
            <result property="deleted_zch_hwz_gjc" column="deleted_zch_hwz_gjc" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        userNotificationId_zch_hwz_gjc,notificationReleaseTime_zch_hwz_gjc,notifyPostManager_zch_hwz_gjc,
        notificationContent_zch_hwz_gjc,standby1_zch_hwz_gjc,standby2_zch_hwz_gjc,
        version_zch_hwz_gjc,deleted_zch_hwz_gjc
    </sql>
</mapper>
